.header {
  background-color: $secondaryColor;
}



.header .logo {

}

.header .loginForm .username{
  float: left;
}

.header .loginForm .password{
  float: left;
}

.header .loginForm .loginButton{

}

.header .loginForm .userLabel{
  padding-right: 0.5em;
}

.header .loginForm .passLabel{
  padding-right: 0.5em;
}