body {
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
	height: 100%;
}

.ui-g-12 {
	padding: 0 !important;
}

.ui-md-12 {
	padding: 0 !important;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #EFEFFB;
	color: #0A122A !important;
	text-align: center;
	font-size: 12px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

form {
	margin-bottom: 0;
}

.ui-paginator {
	font-size: 12px !important;
}

.ui-widget-content {
	background: #CED8F6 !important;
}

.menuSeparator {
	position: relative;
	bottom: -2px;
	background-color: #0A122A;
	margin-left: 10px;
	margin-right: 10px
}

.logoClass {
	color: #DF7401 !important;
	font-size: 22px ! important;
	font-family: Arial, Helvetica, sans-serif;
}

.noRegClass {
	color: #0A122A !important;
	font-family: Arial, Helvetica, sans-serif;
}

.ui-message-error-detail {
	font-size: 12px !important;
	width: 100%;
}

.homeMainDivClass {
	background-color: #0A122A;
	color: white !important;
	width: 80%;
	height: 100vh;
}

.homeMainDivBannerClass {
	background-color: #EFEFFB !important;
	color: #0A122A !important;
	font-size: 12px;
	font-weight: bold;
	border-spacing: 0;
}

.menuLink {
	color: #0A122A !important;
	text-decoration: none !important;
	font-size: 12px !important;
}

.mainDivClass {
	background-color: #0A122A;
	color: white !important;
	padding: 20px;
	height: 100vh;
}

.mainDivClassHeader {
	color: white;
	font-weight: bold;
	font-size: 18px !important;
	font-family: Arial, Helvetica, sans-serif;
}

.ui-button.menuButton {
	width: 100% !important;
	padding: 5px !important;
	background-color: #0B243B !important;
	color: white !important;
	font-weight: normal;
	font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: left !important;
}

.ui-button.signButton {
	width: 100px !important;
	padding: 5px !important;
	background-color: #0A122A !important;
	color: white !important;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: center !important;
}

.ui-button.simpleButton {
	width: 100px !important;
	background-color: #0B3861 !important;
	color: white !important;
	font-weight: normal;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: center !important;
}

.menuAnalysisButton {
	width: 100% !important;
	background-color: #0B3861 !important;
	color: white !important;
	font-weight: normal;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: center !important;
}

.ui-button.signButtonExtended {
	width: 300px !important;
	padding: 5px !important;
	background-color: orange !important;
	color: white !important;
	font-weight: bold;
	font-size: 16px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: center !important;
}

.signUpPanel.ui-widget-content {
	background: #CED8F6 !important;
}

.mainPanelCol1 {
	vertical-align: top;
	width: 20%;
}

.mainPanelCol2 {
	vertical-align: top;
	width: 80%;
}

.mainDivDetail {
	padding: 10px;
	border: 2px solid white;
}

.mainDivDetailDate {
	color: #CED8F6 !important;
	font-size: 10px !important;
}

.mainDivDetailTitle {
	color: yellow !important;
	font-size: 12px !important;
	font-weight: bold;
}

.mainDivDetailText {
	color: white !important;
	font-size: 12px !important;
	font-weight: normal;
}

.ui-panel.logoPanel {
	color: white;
	font-weight: bold;
}

.ui-dialog-titlebar {
	color: yellow !important;
	background-color: #0A122A !important;
	font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

/* Change The Combos Backbround Color*/
.ui-selectonemenu-list {
	background-color: white !important;
}

/* Popups Title Text */
.ui-dialog-title-dialog {
	text-align: center;
}

.mainTable.ui-widget-content {
	background-color: #CED8F6 !important;
	border: 0;
}

.ui-widget.mainTable {
	color: #0A122A;
	background-color: #CED8F6 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold;
}

.ui-panelGrid.mainTable {
	border-collapse: separate;
	background-color: #CED8F6 !important;
	font-size: 20px !important;
	font-weight: normal !important;
}

.ui-panelgrid-cell {
	border: none !important;
	vertical-align: middle !important;
}

.ui-widget-overlay {
	opacity: 0.7 !important;
}

.linkClass {
	color: white !important;
}

.successDialogDiv {
	padding: 5px;
}

.recoverPasswordDiv {
	font-size: 16px !important;
}

.recoverLinkPassword {
	color: #013ADF !important;
	font-size: 16px !important;
}

.ui-panelGrid.successGrid {
	border-collapse: separate;
	background-color: #CED8F6 !important;
	font-size: 12px !important;
	padding: 0 !important;
}

.signUpPanel.ui-panel {
	width: 650px;
	font-size: 20px !important;
	font-weight: normal !important;
	padding: 0;
}

.signUpPanel.ui-panel .ui-panel-titlebar {
	background-color: #0A122A !important;
	color: white;
}

.badUserText {
	font-size: 16px !important;
}

.analysisDiv {
	background-color: #0A122A !important;
	height: 100vh;
}

.buildingManagementDiv {
	background-color: #0A122A !important;
}

.buildingDiv {
	background-color: #0A122A !important;
}

.appDivClass {
	color: white !important;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
	padding: 10px !important;
}

.buildingDivClass {
	color: #0A122A !important;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
}

.titleDivClass {
	font-size: 22px !important;
	font-weight: bold;
	color: #CED8F6;
	padding-bottom: 5px;
	padding-top: 5px;
}

.analysisChartCSS {
	font-size: 12px;
	width: 100% !important;
	height: 85vh !important;
}

.lastAnalysisDiv {
	height: 25vh !important;
	background-color: #0A122A !important;
}

.ui-datepicker {
	background: white !important;
	font-size: 12px !important;
}

.ui-selectonemenu {
	vertical-align: top !important;
	font-size: 12px !important;
}

.ui-selectonemenu-list-item {
	vertical-align: top !important;
	font-size: 12px !important;
}

.ui-button {
	font-size: 12px !important;
}

.ui-timepicker {
	background: white !important;
	font-size: 12px !important;
}

.ui-datepicker-header {
	background: #0A122A !important;
	color: #CED8F6 !important;
	font-size: 12px !important;
}

.hasDatePicker.ui-inputfield {
	background: white !important;
	font-size: 12px !important;
}

.hasTimePicker.ui-inputfield {
	background: white !important;
}

.ui-selectonemenu {
	vertical-align: middle !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
	background: white !important;
	color: #0A122A !important;
}

.analysisPanelTitle {
	font-size: 14px !important;
	color: #0A122A !important;
	font-weight: bold;
}

.analysisTitle {
	font-size: 16px !important;
	color: #0A122A !important;
	font-weight: bold;
}

.buildingImgAnalysis {
	padding: 5px !important;
	border: 1px solid #0A122A;
}

.ui-datatable-selectable {
	font-size: 14px !important;
}

.ui-datatable-selectable.ui-state-hover {
	background-color: #81BEF7 !important;
	color: white !important;
}

.ui-datatable-selectable.ui-state-highlight {
	background-color: #0B3861 !important;
	color: white !important;
}

.ui-datatable-tablewrapper thead {
	display: none;
}

.dataTableColumn {
	text-align: center;
}

.accPanelMeters {
	font-size: 12px !important;
	color: #0A122A;
}

.meterPanelCss {
	text-align: left;
}

.analysisLabels {
	font-size: 13px !important;
	color: white !important;
	vertical-align: middle !important;
}

.analysisViewDiv {
	padding-right: 10px !important;
	color: white !important;
}

.timeAnalysis {
	vertical-align: middle !important;
	color: #0A122A !important;
	font-size: 12px !important;
}

.chartDateCss {
	color: yellow;
	font-weight: plain;
	font-size: 14px !important;
}

.analaysisDateCss {
	padding-left: 25px;
}

.analysisMenuEntry{
	padding-bottom: 10px !important;
}

.timeFrame .ui-inputfield{
	width:100px !important;
}

.ext-box { 
	display: table; 
	width:100%; 
	height:70vh; 
	background-color: #CED8F6;
}
.int-box { 
	display: table-cell; 
	vertical-align: middle; 
}

.buildingManagementTable{
	width:80%; 
}

.buildingManagementAnalyzers{
	width: 20%;
}

.buildingManagementAnalyzers .ui-panel-content{
	background-color: #0A122A !important;
	color: #CED8F6 !important
}

.divisionAnalysis{
	width: 100% !important;
	border: none !important;
}

.ui-treenode-children{
	padding-left: 40px !important;
}

.commonLink{
	color: #CED8F6;
	font-size: 12px !important;
}

.ui-datatable tbody td{
	border: none !important;
	font-size: 12px;
	font-weight: bold;
}

.buildingManagIconClass{
	vertical-align: bottom;
}

.buildingLocation{
	font-size:12px;
	color:grey;
}

.buildingName{
	font-size:18px;
}

.divisionOptions{
	font-size: 10px !important;
	padding-left: 5px;
}

.buildingPanelClass{
	border: none !important;
}

.treeDivisionText{
	font-size: 12px;
	color: #8A0868 !important
}

.addDivisionClass td{
	padding: 0px !important;
}