body {
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}

.logoClass{
	color: #DF7401 !important;
	font-size: 22px ! important;
	font-family: Arial, Helvetica, sans-serif;
}

.homeMainDivClass{
	background-color: #0A122A;
	color: white !important;
	width: 100%;
	height:100vh;
}

.homeMainDivBannerClass{
	background-color: #CED8F6 !important;
	color: #0A122A !important;
	font-size: 12px;
	font-weight: bold;
}

.mainDivClass {
	background-color: #0A122A;
	color: white !important;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.mainDivClassHeader {
	color: white;
	font-weight: bold;
	font-size: 18px !important;
	font-family: Arial, Helvetica, sans-serif;
}

.ui-button.menuButton {
	width: 100% !important;
	padding: 5px !important;
	background-color: #0B243B !important;
	color: white !important;
	font-weight: normal;
	font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: left !important;
}

.ui-button.signButton {
	width: 100px !important;
	padding: 5px !important;
	background-color: orange !important;
	color: white !important;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: center !important;
}

.ui-widget-content {
	background-color: #CED8F6 !important;
}

.mainPanelCol1 {
	vertical-align: top;
	width: 20%;
}

.mainPanelCol2 {
	vertical-align: top;
	width: 80%;
}

.mainDivDetail {
	padding: 10px;
	border: 2px solid white;
}

.mainDivDetailDate {
	color: #CED8F6 !important;
	font-size: 10px !important;
}

.mainDivDetailTitle {
	color: yellow !important;
	font-size: 12px !important;
	font-weight: bold;
}

.mainDivDetailText {
	color: white !important;
	font-size: 12px !important;
	font-weight: normal;
}

.ui-panel.logoPanel {
	color: white;
	font-weight: bold;
}

.ui-dialog-titlebar {
	color: yellow !important;
	background-color: #0A122A !important;
	font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

.ui-dialog-title-dialog {
	text-align: center;	
}

.ui-widget-content.mainTable {
	background-color: #CED8F6 !important;
	border: 0;
}

.ui-widget.mainTable {
	color: #0A122A;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold;
}

.ui-panelGrid.mainTable {
	border-collapse: separate;
	background-color: #CED8F6 !important;
	font-size: 14px !important;
}

.ui-panelgrid-cell {
	border: none !important;
	vertical-align: middle !important;
}

.ui-widget-overlay {
   opacity: 0.7 !important;
}

.linkClass{
	color: white !important;
}

.successDialogDiv{
	padding:5px;
}

.ui-panelGrid.successGrid {
	border-collapse: separate;
	background-color: #CED8F6 !important;
	font-size: 12px !important;
}