body {
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}

.ui-fieldset{
	font-size: 12px !important;
}

.ui-button{
	font-size: 12px !important;
}

.mainDiv{
	padding-top: 15px !important;
}

.checkDiv{
	font-size: 12px !important;
}

.chartCSS{
	font-size: 12px;
	width: 90vw !important;
	height:300px !important;
}

.scaleHeader{
	font-size: 12px;
	margin-bottom: 5px;
	width:100%;
}

.fullWidth{
	width:100% !important;
}