body {
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}

.paddingLeft{
	padding-left:10px;
}



.mainDiv {
	background-color: #F2F2F2;
	padding-top: 15px !important;
	padding-left: 10px;
	padding-right: 10px;
	height: 98vh;
}

.mainTable {
	background-color: white !important;
	font-size: 22px;
}

.mainTable.ui-panelgrid {
	background-color: white !important;
	width: 22% !important;
}

.defaultFont {
	font-size: 12px;
}

.titleFont {
	font-size: 14px;
	font-weight: bold;
}

.warningFont{
	font-size: 36px !important;
	font-weight: bold;
}

.mainTableLeft {
	vertical-align: top !important;
	width:8%;
	font-size: 12px;
}

.mainTableRight{
	vertical-align: top !important;
	width:92%;
	font-size: 12px;
	padding-top: 10px !important;
}
.chartCSS {
	font-size: 12px;
	width: 97% !important;
	height: 300px !important;
}

.fullWidth {
	width: 100% !important;
}

.fullWidthPadding {
	width: 100% !important;
	padding-left:10px;
	padding-right:10px;
}