.ui-datepicker{
	font-size: 12px;
}

.ui-selectonemenu{
	vertical-align: middle;
	font-size: 12px !important;
}

.ui-selectonemenu-list-item{
	font-size: 12px !important;
}

.ui-button {
	font-size: 12px !important;
}