<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/data/mongo
   	 	http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
   	 	http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.3.xsd
   	 	">

	<context:component-scan base-package="clb.business" />
	<context:component-scan base-package="clb.database" />
	<context:component-scan base-package="clb.database.entities" />

	<bean id="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <bean class="com.mongodb.MongoURI" id="mongoURI">
        <constructor-arg value="mongodb://admin:123456@192.168.99.100"  />
    </bean>

    <bean class="com.mongodb.Mongo" id="mongo">
        <constructor-arg ref="mongoURI" />
    </bean>	
		
		
	<!-- Default bean name is 'mongo' -->
	<mongo:mongo host="localhost" port="27017" />

	<bean id="mongoCredentials" class="org.springframework.data.authentication.UserCredentials">
		<constructor-arg name="username" value="admin" />
		<constructor-arg name="password" value="123456" />
	</bean>


	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo" />
		<constructor-arg name="databaseName" value="clb" />
		<constructor-arg name="userCredentials" ref="mongoCredentials" />
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<mongo:repositories base-package="clb.database" />


	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="25" />
	</bean>

	<bean id="analyzerDataService" class="clb.business.AnalyzerDataServiceImpl"
		init-method="init" destroy-method="destroy">
	</bean>

	<bean id="userRegistryService" class="clb.business.UserRegistryServiceImpl" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="25" />
		<property name="username" value="clb.projecto@gmail.com" />
		<property name="password" value="Redentora2017" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>

</beans>
