<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/data/mongo
   	 	http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
   	 	http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/integration/ftp
        http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd
        http://www.springframework.org/schema/integration
        http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.0.xsd">
		
	<context:component-scan base-package="clb.business.services" />
	<context:component-scan base-package="clb.business.integration" />
	<context:component-scan base-package="clb.database" />
	<context:component-scan base-package="clb.database.entities" />

	<bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<!-- Default bean name is 'mongo' -->
	<mongo:mongo host="192.168.99.100" port="27017" />

	<bean id="mongoCredentials" class="org.springframework.data.authentication.UserCredentials">
		<constructor-arg name="username" value="admin" />
		<constructor-arg name="password" value="123456" />
	</bean>


	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo" />
		<constructor-arg name="databaseName" value="clb" />
		<constructor-arg name="userCredentials"
			ref="mongoCredentials" />
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<mongo:repositories base-package="clb.database" />

	<!-- Not used anymore -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="25" />
	</bean>
	
	<task:scheduled-tasks scheduler="myScheduler">
	    <task:scheduled ref="externalRoutines" method="fetchAnalyzerRegistries" fixed-delay="3600000"/>
	</task:scheduled-tasks>

	<task:scheduler id="myScheduler" pool-size="10"/>

	<bean id="analyzerDataService" class="clb.business.services.AnalyzerDataServiceImpl">
	</bean>

	<bean id="userRegistryService" class="clb.business.services.UserRegistryServiceImpl" />
		
	<bean id="userEventPublisher" class="clb.business.services.UserRegistryServicePublisherEvent" >
		<property name="mailSender" ref="mailSender" ></property>
	</bean>
	
	<bean id="externalRoutines" class="clb.business.schedulers.ExternalRoutines" />

	<bean id="ftpSessionFactory"
		class="org.springframework.integration.ftp.session.DefaultFtpSessionFactory">
		<property name="host" value="192.168.99.100" />
		<property name="port" value="21" />
		<property name="username" value="bob" />
		<property name="password" value="bob" />
		<property name="clientMode" value="2"/>
	    <property name="fileType" value="2"/>
	    <property name="bufferSize" value="100000"/>
	</bean>	
		
	<int:channel id="ftpChannel">
	</int:channel>
	
	<int:channel id="ftpChannelPut">
	</int:channel>
	
	<int:channel id="ftpChannelRm">
	</int:channel>
	
	<int:channel id="ftpChannelMget">
	</int:channel>
	
	<int:channel id="outboundChannel">
	</int:channel>
		
	<int:channel id="outboundPutChannel">
	</int:channel>

	<int:channel id="outboundRmChannel">
	</int:channel>
	
	<int:channel id="outboundMgetChannel">
	</int:channel>
	 
	<int:gateway service-interface ="clb.business.integration.FtpGateway" default-request-channel="ftpChannel"/>
	<int:gateway service-interface ="clb.business.integration.FtpGatewayPut" default-request-channel="ftpChannelPut"/>
	<int:gateway service-interface ="clb.business.integration.FtpGatewayRm" default-request-channel="ftpChannelRm"/>	
	<int:gateway service-interface ="clb.business.integration.FtpGatewayMget" default-request-channel="ftpChannelMget"/>
	 
	 <int-ftp:outbound-gateway 
	 	session-factory="ftpSessionFactory"
	    request-channel="ftpChannel"
	    command="ls"
	    command-options="-1"
	    expression="payload"
	    reply-channel="outboundChannel"/>
	    
	     
	
	 <int-ftp:outbound-gateway session-factory="ftpSessionFactory"
		command="put"
		expression="payload"
		request-channel="ftpChannelPut"
		remote-directory-expression="headers['pathName']"
		remote-filename-generator-expression="headers['fileName']"
		auto-create-directory="true"
		remote-file-separator="/"
		reply-channel="outboundPutChannel"
		use-temporary-file-name="true"
		mode="APPEND"
		>
	</int-ftp:outbound-gateway>
	
	<int-ftp:outbound-gateway session-factory="ftpSessionFactory"
		command="rm"
		request-channel="ftpChannelRm"
		remote-directory-expression="headers['file_remoteDirectory']"
		remote-file-separator="/"
		reply-channel="outboundRmChannel"
		>
	</int-ftp:outbound-gateway>
	
	<int-ftp:outbound-gateway 
	 	session-factory="ftpSessionFactory"
	    request-channel="ftpChannelMget"
	    command="mget"
	    command-options="-P -R"
	    mode="IGNORE"
	    expression="payload"
	    remote-file-separator="/"
	    remote-directory-expression="headers['file_remoteDirectory']"
	    local-directory-expression="'/Users/nobre/dirToGetFiles/' + #remoteDirectory"
	    reply-channel="outboundMgetChannel"/>

	 <bean id="mp" class="clb.business.integration.FtpPrinter"/>
	 
	 <int:service-activator ref="mp" method="print" input-channel="outboundChannel"></int:service-activator>
	 <int:service-activator ref="mp" method="printPut" input-channel="outboundPutChannel"></int:service-activator>
	 <int:service-activator ref="mp" method="printRm" input-channel="outboundRmChannel"></int:service-activator>
	 <int:service-activator ref="mp" method="printMget" input-channel="outboundMgetChannel"></int:service-activator>
	 
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="25" />
		<property name="username" value="clb.projecto@gmail.com" />
		<property name="password" value="Redentora2019" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">true</prop>
       	   </props>
		</property>
	</bean>
</beans>
